.slider {
  display: flex;
  flex-direction: column;
} 

.carousel-container {
  margin:0px 50px;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
}

.carousel-image{
  height:inherit;
  width: inherit;
}

.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 56px;
  flex-wrap: wrap;

  &>li {
    padding: 30px;
    font-size: 30px;
    color: rgb(150, 158, 171);
  }

}