.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


    .image-container {
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
            rgb(0 0 0 / 73%) 0px 16px 10px -10px;
        cursor: pointer;
        overflow: hidden;
        width:400px;
        position: relative;
        margin-bottom:15px;
        transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
        border: 3px solid rgba(249, 249, 249, 0.1);

        .recommended-images {
            inset: 0px;
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 1;
            transition: transform 500ms ease-in-out 0s;
            z-index: 1;
            top: 0px;
        }

        &:hover {
            transform: scale(1.05);
            border-color: rgba(249, 249, 249, 0.8);
            box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
                rgb(0 0 0 / 72%) 0px 30px 22px -10px;
        }
    }

    @media (max-width:768px) {
        flex-direction: column;

        .image-container {
            margin-bottom: 10px;
        }
    }

}