.watchlist-container{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.watchlist-header{
  position:relative;
  top:80px;
  text-align:center;
  font-size:36px;
  font-weight:600;
  padding:80px;
}

.watchlist-items {
 margin:50px 0px;
}